- @width = 80
- @height = 60
!!!
%html
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %title game of life
    %link{ :href => "/stylesheets/screen.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }
    %script{ :src => "/javascripts/jquery-1.4.1.min.js" }
    %script{ :src => "/javascripts/gameoflife.js" }
  %body
    %div#content
      %canvas#game-of-life{:width => @width * 10, :height => @height * 10}
        Your browser doesn't support canvases. You should get a new one.
      %h1 game of life
      %p#fps fps: 0
      %p.controls
        %a#step-one-generation step one generation
        %a#start-simulation start simulation
        